<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Active Downloads</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
<img src="../static/img/ripley.png" alt="Logo" style="width:150px; height: 150px; position:absolute; top:0; right:0;">
<button onclick="location.href='/'">Home</button>
<button onclick="location.href='/download-history'">See Download History</button>
<button onclick="location.href='/open-folder/{{ download_dir }}'">Open Downloads Folder</button>
<button onclick="location.href='/qbit'">qBittorrent</button>
<h2>Active Downloads</h2>
<ul id="downloads-list"></ul>

<script>
    const socket = io();

    // When the server sends download updates
    socket.on('update_downloads', function (active_downloads) {
        const list = document.getElementById('downloads-list');
        list.innerHTML = ''; // Clear old items

        active_downloads.forEach(d => {
            const li = document.createElement('li');
            li.innerHTML = `
                    <strong>location:</strong> ${d.content_path}<br>
                    <strong>speed:</strong> ${d.dlspeed.toFixed(2)} MB/s<br>
                    <strong>progress:</strong> ${d.progress}%<br>
                    <strong>eta:</strong> ${d.eta > 60 ? `${Math.floor(d.eta / 60)}:${(d.eta % 60).toString().padStart(2, '0')}` + "m" : `${d.eta}s`}
                `;
            list.appendChild(li);
        });
    });
</script>
</body>
</html>
