[Unit]
Description=qBittorrent-nox (headless BitTorrent client)
After=network.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/qbittorrent-nox
Restart=on-failure
RestartSec=5
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
